

.bt-123{
 position: fixed;
 left: 10vw;
 top: 35vh; 

 
 
 
}

.bt-123 input{
    border: none;
    background-color:green ;
    color:white;
    font-weight: bold;
    padding-bottom: 6vh;
    padding-top: 6vh;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 100%;
    font-size: larger;
    border:1px solid blue ;
    
   
   
   
}